<div class="container">
  <div class="content">
    <div class="name">
      <label>Nome Completo</label>
      <input type="text" placeholder="Informe seu nome completo"
      onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Informe seu nome completo'">
    </div>

    <div class="email">
      <label>Email</label>
      <input type="text" placeholder="Infome o email cadastrado"
      onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Infome o email cadastrado'">
    </div>

    <div class="birth-date">
      <label>Data de Nascimento</label>
      <input type="text" placeholder="Infome sua data de nascimento"
      onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Infome sua data de nascimento'">
    </div>


  </div>
</div>

<app-modal
  *ngIf="shouldOpenModal"
  type="Sucesso!"
  message="Cadastro concluído"
  (closeEvent)="closeModal($event)"
>
</app-modal>
