<div class="container">
  <div class="content">
    <h1>Esqueceu senha</h1>

    <div class="login" style="flex-direction: column;">
      <label style="margin-top: 40px; color: rgb(126, 0, 0);">Recuperar senha</label>
      <input type="text" placeholder="Informe o usuário ou email" onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Informe o usuário ou email'" >
    </div>
    <div class="buttons">
      <button class="enter-login">Enviar</button>
      <button class="request-password" (click)="navigateLogin()">Voltar</button>
    </div>
  </div>
</div>
